{% extends 'home/base.html' %}

{% load static %}

{% block my_css %}
{% endblock my_css %}

{% block content %}
    <div class="section-bg-image parallax-window text-center white ken-burn-center" data-natural-height="1080" data-natural-width="1920" data-parallax="scroll" data-image-src="{% static "home/images/hd-2.jpg"%}">
            <div class="container content">
                <hr class="space" />
                <p class="text-italic" data-anima="pulse">An explosion taste of pleasures and recipes</p>
                <h1 class="text-xl text-bold" data-anima="pulse">KING OF THE TASTE</h1>
                <hr class="space" />
                <div class="flexslider carousel outer-navs visible-dir-nav white" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-9.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Beef Steack</h2>
                                    <span class="extra-content">$ 19.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-10.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Tomato pasta</h2>
                                    <span class="extra-content">$ 15.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-11.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-12.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Eggs plate</h2>
                                    <span class="extra-content">$ 9.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-bg-image white" style="background-image:url({% static 'home/images/hd-portrait.jpg' %})">
            <div class="container content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="title-base text-left">
                            <hr />
                            <h2>Book a table</h2>
                            <p>Book a table in 1 minute</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <script type='text/javascript' src='http://www.opentable.com/widget/reservation/loader?rid=347401&amp;domain=com&amp;type=standard&amp;theme=wide&amp;lang=en&amp;overlay=false&amp;iframe=false'></script>
                    </div>
                </div>
                <hr class="space l" />
                <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:15,numItems:4,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-13.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Beef Steack</h2>
                                    <span class="extra-content">$ 19.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-14.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Tomato pasta</h2>
                                    <span class="extra-content">$ 15.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-15.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-16.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Eggs plate</h2>
                                    <span class="extra-content">$ 9.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{% static "home/images/gallery/long-17.jpg"%}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="space" />
                <div class="title-base">
                    <hr />
                    <h2>Take a look to our menu</h2>
                    <p>The most fanstastic chefs of the world</p>
                </div>
                <div class="text-center"><a data-anima="pulse" href="#" class="circle-button btn btn-sm opacity-1">Full menu</a></div>
                <hr class="space" />
                <img src="{% static "home/images/cola-bar.png"%}" alt="" />

                <hr class="space" />
                <div class="row ">
                    <div class="col-md-3" data-anima="fade-left" data-time="600">
                        <img class="abs-image" src="{% static "home/images/food-1.png"%}" alt="" />
                    </div>
                    <div class="col-md-6 text-center">
                        <hr class="space s" />
                        <div class="title-base">
                            <hr />
                            <h2>Excellent crew</h2>
                            <p>The most fanstastic chefs of the world</p>
                        </div>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                            iaculis eu lacus nunc mi elito vehicula ut laoreet acaliquam sit amet justo nunc tempor metus velo.
                            Tincidunt integer euaugue augue nunc dolor luctus placerat scelerisque euismodiac ulis eulacus nunc mi elitvehicula ut laoreet ac  aliqu.
                        </p>
                        <hr class="space m" />
                        <img src="{% static "home/images/sign-white.png"%}" alt="" />
                    </div>
                    <div class="col-md-3" data-anima="fade-right" data-time="600">
                        <hr class="space" />
                        <img class="abs-image" src="{% static "home/images/food-2.png"%}" alt="" />
                    </div>
                </div>
            </div>
        </div>

{% endblock content %}


{% block my_js %}{% endblock my_js %}