{% extends 'home/base.html' %}

{% load static %}

{% block my_css %}
{% endblock my_css %}

{% block content %}
    <div class="section-bg-image parallax-window text-center white ken-burn-center" data-natural-height="1080" data-natural-width="1920" data-parallax="scroll" data-image-src="{% static "home/images/hd-2.jpg"%}">
            <div class="container content">
                <hr class="space" />
                <p class="text-italic" data-anima="pulse">An explosion taste of pleasures and recipes</p>
                <h1 class="text-xl text-bold" data-anima="pulse">KING OF THE TASTE</h1>
                <hr class="space" />
                <div class="flexslider carousel outer-navs visible-dir-nav white" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                    {% for r in recipes %}
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="{{r.image.url}}" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>{{r.name}}</h2>
                                    <p>{{r.description}}</p>
                                </div>
                            </div>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-bg-image white" style="background-image:url({% static 'home/images/hd-portrait.jpg' %})">
            <div class="container content">

                <hr class="space l" />

                <hr class="space" />
                <div class="title-base">
                    <hr />
                    <h2>Take a look to our recipes</h2>
                    <p>The most fanstastic chefs of the world</p>
                </div>
                <div class="text-center"><a data-anima="pulse" href="{% url 'read-recipes' %}" class="circle-button btn btn-sm opacity-1">Full menu</a></div>
                <hr class="space" />
                <img src="{% static "home/images/cola-bar.png"%}" alt="" />

                <hr class="space" />
            </div>
        </div>

{% endblock content %}


{% block my_js %}{% endblock my_js %}