{% extends 'home/base.html' %}

{% load static %}

{% block my_css %}
{% endblock my_css %}

{% block content %}
    <div class="section-bg-image parallax-window text-center white ken-burn-center" data-natural-height="1080" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/hd-2.jpg">
            <div class="container content">
                <hr class="space" />
                <p class="text-italic" data-anima="pulse">An explosion taste of pleasures</p>
                <h1 class="text-xl text-bold" data-anima="pulse">KING OF THE TASTE</h1>
                <hr class="space" />
                <div class="flexslider carousel outer-navs visible-dir-nav white" data-options="minWidth:200,itemMargin:30,numItems:3,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-9.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Beef Steack</h2>
                                    <span class="extra-content">$ 19.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-10.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Tomato pasta</h2>
                                    <span class="extra-content">$ 15.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content shadow-1" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-11.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-12.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Eggs plate</h2>
                                    <span class="extra-content">$ 9.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="section-bg-image white" style="background-image:url(../images/hd-portrait.jpg)">
            <div class="container content">
                <div class="row">
                    <div class="col-md-3">
                        <div class="title-base text-left">
                            <hr />
                            <h2>Book a table</h2>
                            <p>Book a table in 1 minute</p>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <script type='text/javascript' src='http://www.opentable.com/widget/reservation/loader?rid=347401&amp;domain=com&amp;type=standard&amp;theme=wide&amp;lang=en&amp;overlay=false&amp;iframe=false'></script>
                    </div>
                </div>
                <hr class="space l" />
                <div class="flexslider carousel outer-navs" data-options="minWidth:200,itemMargin:15,numItems:4,controlNav:false,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-13.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Beef Steack</h2>
                                    <span class="extra-content">$ 19.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-14.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Tomato pasta</h2>
                                    <span class="extra-content">$ 15.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-15.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-16.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Eggs plate</h2>
                                    <span class="extra-content">$ 9.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="img-box adv-img adv-img-half-content" data-anima="fade-left" data-trigger="hover">
                                <i class="fa fa-camera-retro anima"></i>
                                <a href="#" class="img-box lightbox anima-scale-up anima">
                                    <img src="../images/gallery/long-17.jpg" alt="" />
                                </a>
                                <div class="caption">
                                    <h2>Pink shrimps</h2>
                                    <span class="extra-content">$ 28.00</span>
                                    <p>Beef of the Dolomites, extra virgin olive oil, salt, rosemary, potatoes, tomatos.</p>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
                <hr class="space" />
                <div class="title-base">
                    <hr />
                    <h2>Take a look to our menu</h2>
                    <p>The most fanstastic chefs of the world</p>
                </div>
                <div class="text-center"><a data-anima="pulse" href="#" class="circle-button btn btn-sm opacity-1">Full menu</a></div>
                <hr class="space" />
                <img src="../images/cola-bar.png" alt="" />
                <div class="section-slider row-14 shadow-2 side-paddings">
                    <div class="flexslider advanced-slider slider white" data-options="animation:fade,directionNav:false">
                        <ul class="slides">
                            <li data-slider-anima="fade-left">
                                <div class="section-slide">
                                    <div class="bg-cover" style="background-image:url('../images/cola-bg.jpg')">
                                    </div>
                                    <div class="container">
                                        <div class="container-middle">
                                            <div class="container-inner white">
                                                <div class="row vertical-row">
                                                    <div class="col-md-6 anima">
                                                        <p class="text-italic">Ice drinks for every taste</p>
                                                        <h2 class="text-black text-l text-uppercase">Frozen drinks</h2>
                                                        <p class="text-s">
                                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu lacus nunc mi elite
                                                            vehicula ut laoreet acaliquam sit amet justo nunc temporo metus velo.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6 text-right text-center-sm">
                                                        <button class="btn btn-sm btn-border anima anima-fade-right" type="button">Read more</button>
                                                    </div>
                                                </div>
                                                <hr class="space m visible-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li data-slider-anima="fade-left">
                                <div class="section-slide">
                                    <div class="bg-cover" style="background-image:url('../images/cola-bg.jpg')">
                                    </div>
                                    <div class="container">
                                        <div class="container-middle">
                                            <div class="container-inner white">
                                                <div class="row vertical-row">
                                                    <div class="col-md-6 anima">
                                                        <p class="text-italic">Ice drinks for every taste</p>
                                                        <h2 class="text-black text-l text-uppercase">Frozen drinks</h2>
                                                        <p class="text-s">
                                                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod iaculis eu lacus nunc mi elite
                                                            vehicula ut laoreet acaliquam sit amet justo nunc temporo metus velo.
                                                        </p>
                                                    </div>
                                                    <div class="col-md-6 text-right">
                                                        <button class="btn btn-sm btn-border anima anima-fade-right" type="button">Read more</button>
                                                    </div>
                                                </div>
                                                <hr class="space m visible-sm" />
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </div>
                </div>
                <hr class="space" />
                <div class="row ">
                    <div class="col-md-3" data-anima="fade-left" data-time="600">
                        <img class="abs-image" src="../images/food-1.png" alt="" />
                    </div>
                    <div class="col-md-6 text-center">
                        <hr class="space s" />
                        <div class="title-base">
                            <hr />
                            <h2>Excellent crew</h2>
                            <p>The most fanstastic chefs of the world</p>
                        </div>
                        <p>
                            Tincidunt integer eu augue augue nunc elit dolor, luctus placerat scelerisque euismod
                            iaculis eu lacus nunc mi elito vehicula ut laoreet acaliquam sit amet justo nunc tempor metus velo.
                            Tincidunt integer euaugue augue nunc dolor luctus placerat scelerisque euismodiac ulis eulacus nunc mi elitvehicula ut laoreet ac  aliqu.
                        </p>
                        <hr class="space m" />
                        <img src="../images/sign-white.png" alt="" />
                    </div>
                    <div class="col-md-3" data-anima="fade-right" data-time="600">
                        <hr class="space" />
                        <img class="abs-image" src="../images/food-2.png" alt="" />
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-image parallax-window white" data-natural-height="850" data-natural-width="1920" data-parallax="scroll" data-image-src="../images/bg-6.jpg">
            <div class="container content">
                <div class="maso-list gallery">
                    <div class="navbar navbar-inner">
                        <div class="navbar-toggle"><i class="fa fa-bars"></i><span>Menu</span><i class="fa fa-angle-down"></i></div>
                        <div class="collapse navbar-collapse">
                            <ul class="nav navbar-nav over nav-center ms-rounded inner maso-filters">
                                <li class="current-active active"><a data-filter="maso-item">All</a></li>
                                <li><a data-filter="cat1">Photos</a></li>
                                <li><a data-filter="cat2" href="#">Videos</a></li>
                                <li><a class="maso-order" data-sort="asc"><i class="fa fa-arrow-down"></i></a></li>
                            </ul>
                        </div>
                    </div>
                    <div class="maso-box row" data-lightbox-anima="fade-left">
                        <div data-sort="2" class="maso-item col-md-3 row-9 cat1">
                            <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=AVFptnuwDcg">
                                <i class="im-play-music"></i>
                                <img src="../images/gallery/image-1.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="3" class="maso-item col-md-3 row-9 cat1">
                            <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=AVFptnuwDcg">
                                <i class="im-play-music"></i>
                                <img src="../images/gallery/image-2.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="4" class="maso-item col-md-3 row-9 cat2">
                            <a class="img-box i-center" href="../images/gallery/image-3.jpg">
                                <i class="im-camera"></i>
                                <img src="../images/gallery/image-3.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="5" class="maso-item col-md-3 row-9 cat1">
                            <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=AVFptnuwDcg">
                                <i class="im-play-music"></i>
                                <img src="../images/gallery/image-4.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="6" class="maso-item col-md-3 row-9 cat2">
                            <a class="img-box i-center" href="../images/gallery/image-5.jpg">
                                <i class="im-camera"></i>
                                <img src="../images/gallery/image-5.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="7" class="maso-item col-md-3 row-9 cat1">
                            <a class="img-box mfp-iframe i-center" href="https://www.youtube.com/watch?v=AVFptnuwDcg">
                                <i class="im-play-music"></i>
                                <img src="../images/gallery/image-6.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="8" class="maso-item col-md-3 row-9 cat2">
                            <a class="img-box i-center" href="../images/gallery/image-7.jpg">
                                <i class="im-camera"></i>
                                <img src="../images/gallery/image-7.jpg" alt="" />
                            </a>
                        </div>
                        <div data-sort="3" class="maso-item col-md-3 row-9 cat2">
                            <a class="img-box i-center" href="../images/gallery/image-8.jpg">
                                <i class="im-camera"></i>
                                <img src="../images/gallery/image-8.jpg"  alt="" />
                            </a>
                        </div>
                        <div class="clear"></div>
                    </div>
                </div>
                <hr class="space" />
                <div class="row">
                    <div class="col-md-6">
                        <div class="title-base text-left">
                            <hr />
                            <h2>RESERVE A TABLE</h2>
                            <p>Classic contact form reservation</p>
                        </div>
                        <p class="text-s">
                            Tincidunt integer eu augue augue nunc elit dolor luctus placerat scelerisque euismod iaculis eu lacus nunc mi elitvehicula ut laoreet
                            acaliquam sit amet justo nunc tempor metus velo. Tincidunt integer eu augue augue nunce.
                        </p>
                        <hr class="space m" />
                        <div class="icon-list font-2">
                            <div class="list-item">
                                <i class="im-ticket text-m"></i><label>All night open</label>
                            </div>
                            <div class="list-item">
                                <i class="im-beer-glass text-m"></i><label>Belgium beer</label>
                            </div>
                            <div class="list-item">
                                <i class="im-bus-2 text-m"></i><label>Free parking 24/7</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <form action="http://www.framework-y.com/scripts/php/contact-form.php" class="form-box form-ajax" method="post">
                            <div class="row">
                                <div class="col-md-6">
                                    <p>Reservation date</p>
                                    <input name="checkout" id="checkout" type="text" data-toggle="datepicker" class="form-control form-value" placeholder="" required>
                                </div>
                                <div class="col-md-6">
                                    <p>Reservation time</p>
                                    <input id="time" name="time" placeholder="" type="text" class="form-control form-value">
                                </div>
                                <hr class="space s" />
                                <div class="col-md-6">
                                    <p>People</p>
                                    <select name="nights" id="nights" class="form-control form-value">
                                        <option value="0">0</option>
                                        <option value="1" selected="">1</option>
                                        <option value="2">2</option>
                                        <option value="3">3</option>
                                        <option value="4">4</option>
                                        <option value="5">5</option>
                                        <option value="6">6</option>
                                        <option value="7">7</option>
                                        <option value="8">8</option>
                                        <option value="9">9</option>
                                    </select>
                                </div>
                                <div class="col-md-6">
                                    <p>Email or phone</p>
                                    <input id="phone" name="phone" placeholder="" type="text" class="form-control form-value">
                                </div>
                                <hr class="space s" />
                                <div class="col-md-12">
                                    <button class="anima-button btn-xs btn" type="submit"><i class="im-calendar-2"></i>Reserve now</button>
                                </div>
                            </div>
                            <div class="success-box">
                                <div class="alert alert-success">Congratulations. Your message has been sent successfully</div>
                            </div>
                            <div class="error-box">
                                <div class="alert alert-warning">Error, please retry. Your message has not been sent</div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="section-bg-color" style="background-image:url(../images/hd-2.jpg)">
            <div class="container content">
                <div class="flexslider carousel outer-navs white" data-options="minWidth:200,itemMargin:15,numItems:2,controlNav:true,directionNav:true">
                    <ul class="slides">
                        <li>
                            <div class="advs-box advs-box-side-img advs-box-blog" data-anima="scale-rotate" data-trigger="hover">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="img-box">
                                            <img class="anima" src="../images/gallery/post-1.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <h2><a>Crisped bean soup served with tortilla and chips</a></h2>
                                        <hr>
                                        <div class="tag-row icon-row">
                                            <span><i class="fa fa-calendar"></i>26.05.2018</span>
                                            <span><i class="fa fa-bookmark"></i><a href="#">Category</a></span>
                                            <span><i class="fa fa-pencil"></i>Admin</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elited do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Utenim ad minim veniam.
                                        </p>
                                        <a class="btn-text" href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-side-img advs-box-blog" data-anima="scale-rotate" data-trigger="hover">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="img-box">
                                            <img class="anima" src="../images/gallery/post-2.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <h2><a>Oil and fish togheter with flavours from the ocean</a></h2>
                                        <hr>
                                        <div class="tag-row icon-row">
                                            <span><i class="fa fa-calendar"></i>15.05.2018</span>
                                            <span><i class="fa fa-bookmark"></i><a href="#">Category</a></span>
                                            <span><i class="fa fa-pencil"></i>Admin</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elited do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Utenim ad minim veniam.
                                        </p>
                                        <a class="btn-text" href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="advs-box advs-box-side-img advs-box-blog" data-anima="scale-rotate" data-trigger="hover">
                                <div class="row">
                                    <div class="col-md-4">
                                        <a class="img-box">
                                            <img class="anima" src="../images/gallery/post-3.jpg" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-md-8">
                                        <h2><a>Fresh sushi from Japan with Asian beer and sache</a></h2>
                                        <hr>
                                        <div class="tag-row icon-row">
                                            <span><i class="fa fa-calendar"></i>26.05.2018</span>
                                            <span><i class="fa fa-bookmark"></i><a href="#">Category</a></span>
                                            <span><i class="fa fa-pencil"></i>Admin</span>
                                        </div>
                                        <p>
                                            Lorem ipsum dolor sitamet consectetur adipisicing elited do eiusmod tempor incididunt
                                            ut labore et dolore magna aliqua. Utenim ad minim veniam.
                                        </p>
                                        <a class="btn-text" href="#">Read more</a>
                                    </div>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
{% endblock content %}


{% block my_js %}{% endblock my_js %}