{% extends 'recipes/base.html' %}

{% load static %}

{% block my_css %}
{% comment %} <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn" crossorigin="anonymous"> {% endcomment %}
{% endblock my_css %}

{% block content %}
    
    {% include 'recipes/includes/_header.html' with heading="Create Recipe" %}

    <div class="section-empty">
            <div class="container content">
                <div class="row">
            <div class="col-12 text-center">
                <h3>Create Recipe</h3>
            </div>
            <div class="col-6">
                <h5>Basic Info</h5>

                <form id="basic-form" method="POST" enctype="multipart/form-data" action="{% url 'create-recipes' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" name="name" id="name" aria-describedby="nameHelp">
                        <small id="nameHelp" class="form-text text-muted">Tell us your awesome recipe name!</small>
                    </div>
                    <div class="form-group">
                        <label for="description">Description</label>
                        <textarea type="text" name="description" class="form-control" id="description"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="name">Time to Cook</label>
                        <input type="text" name="time_to_cook" class="form-control" id="ttc" aria-describedby="ttcHelp">
                        <small id="ttcHelp" class="form-text text-muted">Time to cook your great dish in minutes!</small>
                    </div>
                    <div class="form-group">
                        <label for="name">Image</label>
                        <input type="file" name="image" class="form-control" id="image">
                    </div>
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>
            </div>
        </div>
            </div>
        </div>

    <div class="container" style="height: 100vh; padding-top: 30vh;">
        
    </div>

{% endblock content %}


{% block my_js %}
{% endblock my_js %}