input {
    color: black !important;
}

.del-btn {
    background-color: red !important;
    color: white;
    border: none;
    padding: 5px;
}
.ig {
 margin-top: 30px;
}

.sc {
 margin-top: 30px;
}

#autocomplete {
    color: black !important;
    font-weight: bold;
    width: 300px;
}

.tt-input {
    width: 300px;
}

.tt-highlight {
    background-color: rgb(222, 222, 252);
}

.tt-hint {
    width: 300px;
}

.tt-menu {
    background: white;
}