{% load static %}
<footer class="footer-base footer-parallax">
        <div class="content">
            <div class="container">
                <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6 footer-center">
                        <hr class="space s" />
                        <img width="180" src="{% static "home/images/logo.png"%}" alt="" />
                        <hr class="space m" />
                        <p>
                            We don't care if we're doing haute cuisine or burgers and pizza.<br />We just do it right. Always.
                        </p>
                        <hr class="space s" />
                        <div class="btn-group social-group btn-group-icons">
                            <a target="_blank" href="#" data-social="share-facebook"><i class="fa fa-facebook"></i></a>
                            <a target="_blank" href="#" data-social="share-twitter"><i class="fa fa-twitter"></i></a>
                            <a target="_blank" href="#" data-social="share-google"><i class="fa fa-instagram"></i></a>
                            <a target="_blank" href="#" data-social="share-linkedin"><i class="fa fa-youtube"></i></a>
                        </div>
                    </div>
                    <div class="col-md-3"></div>
                </div>
            </div>
            <div class="row copy-row">
                <div class="col-md-12 copy-text">
                    © 2021  <a href="https://ishantdahiya.com">Ishant Dahiya</a> - <a href="mailto:ishantdahiya@gmail.com">ishantdahiya@gmail.com</a>
                </div>
            </div>
        </div>
    