<div data-sort="{{i}}" class="maso-item col-md-6 cat2">
    <div class="img-box adv-img adv-img-full-content" style="opacity: 1;">
        <div class="img-box">
            <img src="{{r.image.url}}" alt="">
        </div>
        <a href="{% url 'read-single-recipe' r.id %}" class="caption-bg img-box">
            <div class="caption">
                <div class="inner">
                    <h2>{{r.name}}</h2>
                    <p class="sub"> {{r.description}} </p>
                </div>
            </div>
        </a>
    </div>
</div>