{% if messages %}
    {% for message in messages %}
        {% if message.tags == 'error' %}
            <div class="alert alert-danger outline alert-dismissible fade show" role="alert">
        {% else %}
            <div class="alert alert-{{message.tags}} outline alert-dismissible fade show" role="alert">
        {% endif %}
            {{message}}
            <button class="close" type="button" data-dismiss="alert" aria-label="Close" data-original-title="" title=""><span aria-hidden="true">×</span></button>
    </div>
    {% endfor %}
{% endif %}