{% extends 'accounts/base.html' %}

{% load static %}
{% load widget_tweaks %}

{% block my_css %}
{% endblock my_css %}

{% block content %}
<div class="container-fluid p-0">
      <div class="row">
        <div class="col-12">
          <div class="login-card">
            <div>
              <div><a class="logo" href="{% url 'index' %}">
              <img class="img-fluid for-light" src="{% static "home/images/logo.png"%}" alt="looginpage">
              </a></div>
              <div class="login-main">

<div class="mt-4">
          {% include 'accounts/includes/_messages.html' %}
        </div>
                <h4>Password reset sent</h4>


<p>We’ve emailed you instructions for setting your password, if an account exists with the email you entered. You should receive them shortly.</p>

<p>If you don’t receive an email, please make sure you’ve entered the address you registered with, and check your spam folder.</p>
          </div>
        </div>
      </div>
    </div>
{% endblock content %}

{% block my_js %}{% endblock my_js %}